<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InstaTrip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E43A5441FF02F5F009927BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E43A55A1FF02F61009927BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E43A5651FF02F61009927BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
